<meta charset="utf-8">
<title>{{ or .Page.Title .Site.Title }}</title>

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<!-- Primary Meta Tags -->
{{ with $.Param "description" }}<meta name="description" content="{{ . }}">{{ end }}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ or .Page.Title .Site.Title }}" />
<meta property="og:description" content="{{ with .Page.Param "description" }}{{ . }}{{ end }}" />
<meta property="og:image" content="{{ with .Page.Param "image" }}{{ . }}{{ else }}default-image-url{{ end }}" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ .Permalink }}" />
<meta property="twitter:title" content="{{ or .Page.Title .Site.Title }}" />
<meta property="twitter:description" content="{{ with .Page.Param "description" }}{{ . }}{{ end }}" />
<meta property="twitter:image" content="{{ with .Page.Param "image" }}{{ . }}{{ else }}default-image-url{{ end }}" />
